<div class="data-box bg-light">
  <div class="loading-mark" *ngIf="isLoading">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-6 text-center">
          <div class="py-2 px-5">
            <mat-spinner style="margin:2rem auto"></mat-spinner>
            <h4 class="my-4">Loading data, please wait a moment</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!isLoading">
    <div class="row">
      <div class="col-12 mb-3 py-2 text-center">
        <p class="lead py-0 my-0">
          DO NOT FORGET to click the <strong class="text-danger">Save
            All Data</strong> button at the <strong class="text-danger">bottom right</strong> of this page when you
          finish editing all the
          meta
          data !
        </p>
      </div>
      <!--====== NATIONALITY ======-->
      <div class="col-12 mb-3">
        <mat-card>
          <h4 class="section-title">Nationality <small class="ml-2 text-secondary">({{nationalityList.length}})</small></h4>
          <div class="mt-3 w-100">
            <span class="item-box" *ngFor="let item of nationalityList; let i=index">
              {{item}}
              <button class="trash-btn btn btn-default p-1" (click)="removeItem(i,'nationalityList')">
                <i class="fa fa-trash"></i>
              </button>
            </span>
          </div>
          <mat-form-field class="example-form-field mt-3 w-25">
            <input matInput type="text" placeholder="Enter a nationality name" [(ngModel)]="nationality" (keyup.enter)="nationalityOkBtn()">
            <button mat-button *ngIf="nationality" matSuffix mat-icon-button aria-label="Clear" (click)="nationality=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </mat-card>
      </div>
      <!--====== AIRLINE ======-->
      <div class="col-12 mb-3">
        <mat-card>
          <h4 class="section-title">Airline <small class="ml-2 text-secondary">({{airlineList.length}})</small></h4>
          <div class="mt-3 w-100">
            <span class="item-box" *ngFor="let item of airlineList; let i=index">
              {{item}}
              <button class="trash-btn btn btn-default p-1" (click)="removeItem(i,'airlineList')">
                <i class="fa fa-trash"></i>
              </button>
            </span>
          </div>
          <mat-form-field class="example-form-field mt-3 w-25">
            <input matInput type="text" placeholder="Enter a airline name" [(ngModel)]="airline" (keyup.enter)="airlineOkBtn()">
            <button mat-button *ngIf="airline" matSuffix mat-icon-button aria-label="Clear" (click)="airline=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </mat-card>
      </div>
      <!--====== CABIN ======-->
      <div class="col-12 mb-3">
        <mat-card>
          <h4 class="section-title">Cabin <small class="ml-2 text-secondary">({{cabinList.length}})</small></h4>
          <div class="mt-3 w-100">
            <span class="item-box" *ngFor="let item of cabinList; let i=index">
              {{item}}
              <button class="trash-btn btn btn-default p-1" (click)="removeItem(i,'cabinList')">
                <i class="fa fa-trash"></i>
              </button>
            </span>
          </div>
          <mat-form-field class="example-form-field mt-3 w-25">
            <input matInput type="text" placeholder="Enter a cabin type" [(ngModel)]="cabin" (keyup.enter)="cabinOkBtn()">
            <button mat-button *ngIf="cabin" matSuffix mat-icon-button aria-label="Clear" (click)="cabin=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </mat-card>
      </div>
      <!--====== VEHICLE PROVIDER ======-->
      <div class="col-12 mb-3">
        <mat-card>
          <h4 class="section-title">Vehicle Provider <small class="ml-2 text-secondary">({{vehicleProviderList.length}})</small></h4>
          <div class="mt-3 w-100 px-3">
            <div class="row py-2 vehicle-row align-items-center" *ngFor="let item of vehicleProviderList; let i=index">
              <div class="col-1">{{i+1}}</div>
              <div class="col-3">{{item.name}}</div>
              <div class="col-1" style="display:flex">
                <i class="material-icons">
                  arrow_forward
                </i>
              </div>
              <div class="col">
                <span *ngFor="let type of item.type" class="mr-4">{{type}}</span>
              </div>
              <div class="col-1">
                <button class="trash-btn btn btn-default p-1" (click)="removeItem(i,'vehicleProviderList')">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
            <!-- Vehicle Provider Editor Box -->
            <div class="vehicle-provider-editor-box mt-4 bg-light p-4" [hidden]="!showVehicleProviderEditor">
              <!-- show box -->
              <div class="row mt-3 show-box">
                <div class="col-3">{{newVehicleProvider.name}}</div>
                <div class="col-1" style="display:flex">
                  <i class="material-icons">
                    arrow_forward
                  </i>
                </div>
                <div class="col">
                  <span *ngFor="let type of newVehicleProvider.type" class="mr-4">{{type}}</span>
                </div>
              </div>
              <!-- editor box -->
              <div class="row editor-box">
                <div class="col-3">
                  <mat-form-field class="example-form-field mt-2 w-100">
                    <input matInput type="text" placeholder="Enter a vehicle provider name" [(ngModel)]="vehicleProviderName"
                      (keyup.enter)="vehicleProviderNameOkBtn()">
                    <button mat-button *ngIf="vehicleProviderName" matSuffix mat-icon-button aria-label="Clear" (click)="vehicleProviderName=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-1"></div>
                <div class="col">
                  <mat-form-field class="example-form-field mt-2 w-100">
                    <input matInput type="text" placeholder="Enter a vehicle type" [(ngModel)]="vehicleProviderType"
                      (keyup.enter)="vehicleProviderTypeOkBtn()">
                    <button mat-button *ngIf="vehicleProviderType" matSuffix mat-icon-button aria-label="Clear" (click)="vehicleProviderType=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-12 text-right mt-3">
                  <button mat-raised-button class="ml-4" (click)="cancelVehicleModal()"><i class="material-icons">close</i>Cancel</button>
                  <button mat-raised-button class="ml-4" color="primary" (click)="finishVehicleModal()" [disabled]="newVehicleProvider.name=='' || newVehicleProvider.type.length==0">
                    <i class="material-icons">check</i>
                    Finish
                  </button>
                </div>
              </div>
            </div>
            <!-- Vehicle Provider Editor: end -->
            <div class="row mt-3">
              <div class="col-12">
                <button mat-mini-fab color="warn" (click)="addNewVehicleBtn()" [hidden]="showVehicleProviderEditor">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <!--======== SHIP PROVIDER ==========-->
      <div class="col-12 mb-3">
        <mat-card>
          <h4 class="section-title">Ship Provider <small class="ml-2 text-secondary">({{shipProviderList.length}})</small></h4>
          <div class="mt-3 w-100 px-3">
            <div class="row py-2 ship-row align-items-center" *ngFor="let item of shipProviderList; let i=index">
              <div class="col-1">{{i+1}}</div>
              <div class="col-3">{{item.name}}</div>
              <div class="col-1" style="display:flex">
                <i class="material-icons">
                  arrow_forward
                </i>
              </div>
              <div class="col">
                <span *ngFor="let type of item.type" class="mr-4">{{type}}</span>
              </div>
              <div class="col-1">
                <button class="trash-btn btn btn-default p-1" (click)="removeItem(i,'shipProviderList')">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
            <!-- Ship Provider Editor Box -->
            <div class="ship-provider-editor-box mt-4 bg-light p-4" [hidden]="!showShipProviderEditor">
              <!-- show box -->
              <div class="row mt-3 show-box">
                <div class="col-3">{{newShipProvider.name}}</div>
                <div class="col-1" style="display:flex">
                  <i class="material-icons">
                    arrow_forward
                  </i>
                </div>
                <div class="col">
                  <span *ngFor="let type of newShipProvider.type" class="mr-4">{{type}}</span>
                </div>
              </div>
              <!-- editor box -->
              <div class="row editor-box">
                <div class="col-3">
                  <mat-form-field class="example-form-field mt-2 w-100">
                    <input matInput type="text" placeholder="Enter a ship provider name" [(ngModel)]="shipProviderName"
                      (keyup.enter)="shipProviderNameOkBtn()">
                    <button mat-button *ngIf="shipProviderName" matSuffix mat-icon-button aria-label="Clear" (click)="shipProviderName=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-1"></div>
                <div class="col">
                  <mat-form-field class="example-form-field mt-2 w-100">
                    <input matInput type="text" placeholder="Enter a ship type" [(ngModel)]="shipProviderType"
                      (keyup.enter)="shipProviderTypeOkBtn()">
                    <button mat-button *ngIf="shipProviderType" matSuffix mat-icon-button aria-label="Clear" (click)="shipProviderType=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-12 text-right mt-3">
                  <button mat-raised-button class="ml-4" (click)="cancelShipModal()"><i class="material-icons">close</i>Cancel</button>
                  <button mat-raised-button class="ml-4" color="primary" (click)="finishShipModal()" [disabled]="newShipProvider.name=='' || newShipProvider.type.length==0"><i
                      class="material-icons">check</i>Finish</button>
                </div>
              </div>
            </div>
            <!-- Ship Provider Editor: end -->
            <div class="row mt-3">
              <div class="col-12">
                <button mat-mini-fab color="warn" (click)="addNewShipBtn()" [hidden]="showShipProviderEditor">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <!--======== HOTEL PROVIDER=========-->
      <div class="col-12">
        <mat-card>
          <h4 class="section-title">Hotel <small class="ml-2 text-secondary">({{hotelList.length}})</small></h4>
          <div class="mt-3 w-100 px-3">
            <div class="row mb-2 py-1 hotel-row" *ngFor="let item of hotelList; let i=index">
              <div class="col-1">{{i+1}}</div>
              <div class="col-4" style="display:flex">
                <i class="material-icons mr-2">home</i>{{item.name}}
              </div>
              <div class="col" style="display:flex">
                <i class="material-icons mr-2">pin_drop</i>
                {{item.address}}
              </div>
              <div class="col-1">
                <button class="trash-btn btn btn-default p-1" (click)="removeItem(i,'hotelList')">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
            <!-- hotel editor: start -->
            <div class="row bg-light mt-4 py-3" [hidden]="!showHotelEditor">
              <div class="col-4">
                <div style="display:flex">
                  <i class="material-icons mr-2">
                    home
                  </i>
                  {{newHotel.name}}
                </div>
                <mat-form-field class="example-form-field mt-2 w-100">
                  <input matInput type="text" placeholder="Enter a hotel name" [(ngModel)]="hotelName" (keyup.enter)="hotelNameOkBtn()">
                  <button mat-button *ngIf="hotelName" matSuffix mat-icon-button aria-label="Clear" (click)="hotelName=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col">
                <div style="display:flex">
                  <i class="material-icons mr-2">
                    pin_drop
                  </i>
                  {{newHotel.address}}
                </div>
                <mat-form-field class="example-form-field mt-2 w-100">
                  <input matInput type="text" placeholder="Enter a hotel address" [(ngModel)]="hotelAddress"
                    (keyup.enter)="hotelAddressOkBtn()">
                  <button mat-button *ngIf="hotelAddress" matSuffix mat-icon-button aria-label="Clear" (click)="hotelAddress=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col-12 text-right mt-3">
                <button class="ml-4" mat-raised-button (click)="cancelHotelEdit()"><i class="material-icons">close</i>Cancel</button>
                <button class="ml-4" mat-raised-button color="primary" (click)="finishHotelEdit()" [disabled]="newHotel.name=='' || newHotel.address==''"><i
                    class="material-icons">check</i>Finish</button>
              </div>
            </div>
            <!-- hotel editor: end -->
            <div class="row mt-3" [hidden]="showHotelEditor">
              <div class="col-12">
                <button mat-mini-fab color="warn" (click)="addNewHotelBtn()" [hidden]="showHotelEditor">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <!-- ====== SAVE BUTTON ======-->
      <div class="container mt-4">
        <div class="row">
          <div class="col">
            <div *ngIf="isSaving">
              <div>Saving all the meta data, please wait a moment</div>
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="saving-result-box lead" *ngIf="!isSaving && savingResult=='yes'">
              <i class="material-icons mr-2 text-success">
                check_circle
              </i>
              Saving meta data successfully !
            </div>
            <div class="saving-result-box lead" *ngIf="!isSaving && savingResult=='no'">
              <i class="material-icons mr-2 text-warning">
                warning
              </i>
              Fail to save meta data, please try again latter.
            </div>
          </div>
          <div class="col-2 text-right">
            <button mat-raised-button (click)="cancelAllData()" class="py-1 px-4">
              <i class="material-icons mr-2">
                clear
              </i>
              Cancel All
            </button>
          </div>
          <div class="col-2 text-right">
            <button mat-raised-button color="warn" (click)="saveAllData()" class="py-1 px-4">
              <i class="material-icons mr-2">
                save_alt
              </i>
              Save All Data
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>