@import '../../../styles.scss';
.vehicle-row,
.ship-row,
.hotel-row {
  border-bottom: solid 1px lightgray;
}

.item-box {
  margin: 0rem 2rem 1rem 0rem;
  display: inline-block;
  color: black;
}

.trash-btn {
  outline: none !important;
  color: #bbbbbb;
}

.loading-mark {
  position: absolute;
  width: 100%;
  height: 100%; // background-color: rgba($color: #000000, $alpha: 0.1);
  z-index: 99999;
}

.saving-result-box {
  display: flex;
}