@import '../../../styles.scss';
.form-container {
  display: flex;
  flex-direction: column;
}

.form-container>* {
  width: 100%;
}

.form-title {
  display: flex;
  justify-content: center;
  i {
    margin-right: .5rem;
  }
}

.process-result-box {
  display: flex;
  i {
    margin-right: .2rem;
  }
}

.tab-group {
  position: relative;
}

.mat-card{
  width: 60%;
  margin: 0rem auto;
  display: block;
  text-align: center;
}

.mark-box {
  background-color: rgba($color: #fafafa, $alpha: 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 99999999;
}