@import '../../../styles.scss';
.form-container {
  display: flex;
  flex-direction: column;
}

.form-container>* {
  width: 100%;
}

.prompt-text {
  font-size: 1.5rem;
}

.form-title {
  display: flex;
  justify-content: center;
  i{
    margin-right: 1rem;
  }
}