<div class="data-box">
  <div class="container mt-2">
    <div class="row">
      <div class="col">
        <mat-card>
          <div class="row justify-content-end">
            <button class="bg-success text-white" mat-button (click)="doDownloadFile()">Download</button>
          </div>
          <div class="row">
            <div class="col-8">
              <div [chart]="nationalityChart"></div>
            </div>
            <div class="col">
              <div class="nationality-table-box">
                <table class="table table-striped nationality-table">
                  <thead>
                    <tr class="bg-danger text-white">
                      <td class="pl-4">Nationality</td>
                      <td class="text-center">Customers</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of nationalityTable">
                      <td class="pl-4">{{item.name}}</td>
                      <td class="text-center">{{item.y}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
            <!-- <div class="col"></div> -->
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
