<div class="container-fluid background bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center p-5">
        <img src="assets/images/mercury-en.png" alt="mercury" class="img-fluid px-5 logo">
        <div class="title text-secondary">Data Management Platform</div>
      </div>
      <div class="col-4">
        <form class="form bg-white p-4">
          <div class="form-group text-center">
            <h4 class="mb-4">Sign in</h4>
          </div>
          <div class="form-group">
            <input type="text" name="account" id="account" class="form-control" placeholder="Account">
            <small id="account-help" class="form-text text-muted text-right">
              <a href="#">Forget your account ?</a>
            </small>
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            <small id="password-help" class="form-text text-muted text-right">
              <a href="#">Forget your password ?</a>
            </small>
          </div>
          <div class="form-check mb-4">
            <input type="checkbox" name="rememberme" class="form-check-input" id="remember-me">
            <label class="form-check-label" for="remember-me">Remember me</label>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block">Sign in</button>
          </div>
          <div class="form-group text-center">
              <a href="#">Create a new account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>