@import "../../styles.scss";
.toolbar {
  background-color: $dark-blue;
  position: fixed;
  z-index: 999;
}

.example-icon {
  padding: 0 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.material-icons {
  margin-right: .2rem;
}