@import "../../styles.scss";
.toolbar {
  background-color: $dark-blue;
  position: fixed;
  z-index: 999;
  box-shadow: 0 1px 4px 2px #444444;
}

.example-icon {
  padding: 0 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.material-icons {
  margin-right: .2rem;
}

.menu-btn {
  display: flex;
  align-items: center
}