<div class="box">
  <!-- navbar -->
  <mat-toolbar class="px-4 py-0 toolbar text-white">
    <mat-toolbar-row>
      <span>Dashboard</span>
      <span class="example-spacer"></span>
      <button mat-button (click)="settings()">
        <i class="material-icons">
          settings
        </i>
        Settings
      </button>
      <button mat-button [matMenuTriggerFor]="menu">
        <i class="material-icons">
          person
        </i>
        Frank Li
        <i class="material-icons">
          arrow_drop_down
        </i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="profile()" class="menu-btn">
          <mat-icon class="mr-2">apps</mat-icon>Profile
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()" class="menu-btn">
          <mat-icon class="mr-2">power_settings_new</mat-icon>Logout
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- navbar -->
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-2 left">
        <app-left-menu></app-left-menu>
      </div>
      <div class="col right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>