<div class="data-box bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <mat-card class="mat-card p-3 my-3">
          <div [chart]="chart" class="chart-card"></div>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="mat-card p-3 my-3">
          <div [chart]="chart" class="chart-card"></div>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="mat-card p-3 my-3">
          <div [chart]="chart" class="chart-card"></div>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="mat-card p-3 my-3">
          <div [chart]="chart" class="chart-card"></div>
        </mat-card>
      </div>
    </div>
  </div>
</div>