@import '../../../styles.scss';
.section-box {
  margin-bottom: 3rem;
  .section-title{
    font-size: 2rem;
    font-weight: normal;
    margin:0rem 0rem 1rem .3rem;
  }
  .table-name::first-letter {
    text-transform: capitalize
  }
}